@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-home-hero-name-color: #0886DE;
  --vp-c-brand-1: #0886DE;
  --vp-c-brand-2: #089BDE;
  --vp-button-brand-border:#6BB6EB;
  --vp-button-brand-bg: #0886DE;
  --vp-home-hero-name-color: #399EE5;
}

p > img {
  @apply border
}

/* Empty lines are not rendered without this tweak. */
pre code span.line:not(:last-child) {
  min-height: 1.5rem;
}

.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  background: white;
  position: relative;
}
.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
