@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-c-brand: #0886DE;
  /* --vp-button-brand-text: #0886DE */
  --vp-button-brand-border:#6BB6EB;
  --vp-button-brand-bg: #0886DE;

}
